---
# tasks file for httpd_installation
- block:
  - name: Install Httpd
    yum: name=httpd state=installed
    notify: Restart httpd RedHat
  - name: Start httpd
    service: name=httpd state=started enabled=yes
  when: ansible_os_family=="RedHat"


